/*
 * Basic CSS reset
 * Usuwamy domyślne marginesy i ujednolicamy zachowanie elementów.
 */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;

    font-size: 16px;

    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;

    list-style: none;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    border: 0;
    padding: 0;

    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

textarea {
    resize: vertical;
}